{{set . "title" "Thank You!"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
          <li ><a href="/blog">Blog</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>
<div class="page-header">
  <h1>Post your job <small>Find a gopher!</small></h1>
</div>

<ul class="breadcrumb">
  <li >Post<span class="divider">/</span></li>
  <li>Preview <span class="divider">/</span></li>
    <li>Payment<span class="divider">/</span></li>
  <li class="active">Confirm</li>
</ul>
<div class="row">
  <div class="span9">
  <h1>Thank You!</h1>
  <hr/>
  <p class="lead">Your Job is Posted.  See it <a href="/jobs/show/{{.id}}">here.</a></p>
</div>
</div>

{{template "footer.html" .}}

