{{set . "title" "Find Jobs"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Put Go to Work</h1>
        <p class="lead">Find your dream job writing #golang.</p>
        <p class="lead">...coming soon...</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
{{if .jobs}}
<table class="table">
 
    {{range .jobs}}
    <tr>
      <td><a href="/jobs/show/{{.Id}}"><h4>{{.Title}}</h4></a> <br/> at {{.CompanyName}}</td>
      <td>{{.Location}}</td>
    </tr>
    {{end}}
 </table>
<p>
  <a id="nextPage" href="{{.nextPage}}">More results</a>
</p>

{{else}}
<p>
  No more results
</p>
{{end}}

      </div>

      <hr>

   



{{template "footer.html" .}}

