{{set . "title" "Preview Your Job"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>
<div class="page-header">
  <h1>Post your job <small>Find a gopher!</small></h1>
</div>

<ul class="breadcrumb">
  <li >Post<span class="divider">/</span></li>
  <li class="active">Preview <span class="divider">/</span></li>
    <li>Payment<span class="divider">/</span></li>
  <li>Confirm</li>
</ul>

<img src="{{.job.CompanyLogoURL}}"></img><h2>{{.job.Title}}</h2>
<hr/>
<div class="row-fluid">
  <div class="span4"><h4>Company Name:</h4></div>
  <div class="span8"><h4>{{.job.CompanyName}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Location:</h4></div>
  <div class="span8"><h4>{{.job.Location}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Job Type:</h4></div>
  <div class="span8"><h4>{{.job.JobType}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Job Description:</h4></div>
  <div class="span8"><p>{{.job.Description}}</p></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Company Website:</h4></div>
  <div class="span8"><h4>{{.job.CompanyWebsite}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Additional Instructions:</h4></div>
  <div class="span8"><p>{{.job.AdditionalInstructions}}</p></div>
</div>
{{ if .job.ApplyURL}}
<div class="row-fluid">
  <div class="span4"><h4>Apply Online:</h4></div>
  <div class="span8"><h4><a href="{{.job.ApplyURL}}" target="_blank">{{.job.CompanyName}}</a> </h4></div>
</div>
{{end}}
<div class="row-fluid">
  <div class="span4"><h4>Apply by Email:</h4></div>
  <div class="span8"><h4><a href="mailto:{{.job.ApplyEmail}}?subject=Application for {{.job.Title}}&body=Please attach a resume and replace this text.">Send Email</a></h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4>Posted By:</h4></div>
  <div class="span8"><h4>{{.job.PurchaserEmail}}</h4></div>
</div>
<form class="form-horizontal" action="{{url "Jobs.Confirm" .job.Id}}" method="POST">
  <div class="control-group">
    <div class="controls">
      <hr/>
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span8">      <button type="submit" class="btn">Confirm And Submit</button></div>
</div>

    </div>
  </div>
</form>
{{template "footer.html" .}}
