{{set . "title" "Jobs"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Put Go to Work</h1>
        <p class="lead">Find your dream job writing #golang.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4><a href="/jobs/find">Find a Job</a></h4>
          <p>Search our listings of #golang jobs for free!</p>

          <h4><a href="/jobs/post">Post a Job</a></h4>
          <p>Simplify your recruiting for top-notch #golang developers by posting on the only Go-dedicated job site.</p>

        </div>

        <div class="span6">
          <h4>Dedicated to #golang Jobs</h4>
          <p>Gopher Academy's Job Listings are 100% #golang.  No other job site can make this claim.</p>

          <h4>Worldwide Reach</h4>
          <p>Post or find #golang jobs around the world.</p>

        </div>
      </div>

      <hr>

   



{{template "footer.html" .}}

