{{set . "title" "Submit A Job"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>
<div class="page-header">
  <h1>Post your job <small>Find a gopher!</small></h1>
</div>

<ul class="breadcrumb">
  <li class="active">Post<span class="divider">/</span></li>
  <li>Preview <span class="divider">/</span></li>
    <li>Payment<span class="divider">/</span></li>
  <li>Confirm</li>
</ul>
<form class="form-horizontal" action="{{url "Jobs.HandlePostSubmit"}}" method="POST">
      {{with $field := field "job.Title" .}}
  <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Job Title</label>
    <div class="controls">
              <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
      <input class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Senior Gopher" required>
    </div>
      <span class="help-inline">{{$field.Error}}</span>
    </div>
        {{end}}
  </div>
        {{with $field := field "job.Location" .}}
    <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Job Location</label>
    <div class="controls">
                          <div class="input-prepend">
      <span class="add-on"><i class="icon-circle-arrow-down"></i></span>
      <input  class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="New York, Remote" required>
     
      <span class="help-inline">{{$field.Error}}</span>
    </div>
    {{end}}
  </div>
          {{with $field := field "job.JobType" .}}
      <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Job Type</label>
    <div class="controls">
<label class="radio">
  <input type="radio" id="{{$field.Id}}" name="{{$field.Name}}" value="1" checked>
  Full Time
</label>
<label class="radio">
  <input type="radio" id="{{$field.Id}}" name="{{$field.Name}}" value="2">
  Part Time
</label>
<label class="radio">
  <input type="radio" id="{{$field.Id}}" name="{{$field.Name}}" value="3">
  Freelance
</label>
    </div>
    {{end}}
  </div>
            {{with $field := field "job.Description" .}}
      <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Job Description</label>
    <div class="controls">
                    <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
     <textarea  class="input-xlarge" cols="40" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="10" required>{{$field.Flash}}</textarea>
   </div>
      <span class="help-inline">{{$field.Error}}</span>
    </div>
  </div>
  {{end}}
              {{with $field := field "job.CompanyName" .}}
    <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Company Name</label>
    <div class="controls">
                    <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
      <input class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="" required>
    </div>
      <span class="help-inline">{{$field.Error}}</span>
    </div>
  </div>
  {{end}}
              {{with $field := field "job.CompanyWebsite" .}}
  <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Company Website</label>
    <div class="controls">
                    <div class="input-prepend">
      <span class="add-on"><i class="icon-home"></i></span>
      <input class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="" required>
    </div>
      <span class="help-inline">{{$field.Error}}</span>
    </div>
  </div>
  {{end}}

                {{with $field := field "job.CompanyLogoURL" .}}
    <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Company Logo URL</label>
    <div class="controls">

              <div class="input-prepend">
      <span class="add-on"><i class="icon-file"></i></span>
      <input class="input-xlarge" type="text"  id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}"  placeholder="" required>
    </div>
      <span class="help-inline">{{$field.Error}}</span>
       </div>
  </div>
{{end}}


   {{with $field := field "job.ApplyURL" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Apply URL</label>
    <div class="controls">
              <div class="input-prepend">
      <span class="add-on"><i class="icon-home"></i></span>
      <input  class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="http://mycompany.com/jobs/1234">
    </div>
    </div>
  </div>
  {{end}}
                {{with $field := field "job.ApplyEmail" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Apply by Email</label>
    <div class="controls">
          <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="recruiting@yourcompany.com">
    </div>
  </div>
  </div>
  {{end}}
     {{with $field := field "job.AdditionalInstructions" .}}
      <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Additional Instructions</label>
    <div class="controls">
              <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
     <textarea class="input-xlarge" cols="40" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="10"></textarea>
   </div>
    </div>
  </div>
  {{end}}
       {{with $field := field "job.PurchaserEmail" .}}
    <div class="control-group" error>
    <label class="control-label" for="{{$field.Id}}">Purchaser Email</label>
    <div class="controls">
        <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="input-xlarge" type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="recruiting@yourcompany.com" required>
    </div>
      <span class="help-inline">{{$field.Error}}</span>
    </div>
  </div>
{{end}}

  <div class="control-group">
    <div class="controls">

      <button type="submit" class="btn">Preview</button>
    </div>
  </div>
</form>
      
      
      <hr>

   



{{template "footer.html" .}}

