{{set . "title" "Submit A Job"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="#">#golang Jobs</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>
<div class="page-header">
  <h1>Post your job <small>Find a gopher!</small></h1>
</div>

<ul class="breadcrumb">
  <li class="active">Post<span class="divider">/</span></li>
  <li>Preview <span class="divider">/</span></li>
    <li>Payment<span class="divider">/</span></li>
  <li>Confirm</li>
</ul>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="jobTitle">Job Title</label>
    <div class="controls">
      <input type="text" id="jobTitle" placeholder="Senior Gopher">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="jobLocation">Job Location</label>
    <div class="controls">
      <input type="text" id="jobLocation" placeholder="New York, Remote">
    </div>
  </div>
      <div class="control-group">
    <label class="control-label" for="jobType">Job Type</label>
    <div class="controls">
<label class="radio">
  <input type="radio" name="optionsJobType" id="optionsJobTypeFt" value="fulltime" checked>
  Full Time
</label>
<label class="radio">
  <input type="radio" name="optionsJobType" id="optionsJobTypePt" value="parttime">
  Part Time
</label>
<label class="radio">
  <input type="radio" name="optionsJobType" id="optionsJobTypeFl" value="freelance">
  Freelance
</label>
    </div>
  </div>
      <div class="control-group">
    <label class="control-label" for="jobDescription">Job Description</label>
    <div class="controls">
     <textarea  cols="40" id="jobDescription" name="jobDescription" rows="10"></textarea>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="companyName">Company Name</label>
    <div class="controls">
      <input type="text" id="companyName" placeholder="">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="companyWebsite">Company Website</label>
    <div class="controls">
      <input type="text" id="companyWebsite" placeholder="">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="companyLogoURL">Company Logo URL</label>
    <div class="controls">
      <input type="text" id="companyLogoURL" placeholder="">
    </div>
  </div>

    <div class="control-group">
    <label class="control-label" for="applyURL">Apply URL</label>
    <div class="controls">
      <input type="text" id="applyURL" placeholder="http://mycompany.com/jobs/1234">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="applyEmail">Apply by Email</label>
    <div class="controls">
      <input type="text" id="applyEmail" placeholder="recruiting@yourcompany.com">
    </div>
  </div>
      <div class="control-group">
    <label class="control-label" for="additionalInstructions">Additional Instructions</label>
    <div class="controls">
     <textarea  cols="40" id="additionalInstructions" name="additionalInstructions" rows="10"></textarea>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="purchaserEmail">Purchaser Email</label>
    <div class="controls">
      <input type="text" id="purchaserEmail" placeholder="recruiting@yourcompany.com">
    </div>
  </div>


  <div class="control-group">
    <div class="controls">

      <button type="submit" class="btn">Preview</button>
    </div>
  </div>
</form>
      
      
      <hr>

   



{{template "footer.html" .}}

