{{set . "title" "Preview Your Job"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/jobs">#golang Jobs</a></li>
          <li ><a href="http://blog.gopheracademy.com">Blog</a></li>
        </ul>

        <h3 class="muted">Gopher Academy</h3>
      </div>
<div class="page-header">
  <h1>Your next job <small>Here are the details...</small></h1>
</div>



<img src="{{.job.CompanyLogoURL}}"></img><h2>{{.job.Title}}</h2>
<hr/>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Company Name:</p></h4></div>
  <div class="span8"><h4>{{.job.CompanyName}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Location:</p></h4></div>
  <div class="span8"><h4>{{.job.Location}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Job Type:</p></h4></div>
  <div class="span8"><h4>
    {{if eq .job.JobType  1}} Full Time {{end}}
    {{if eq .job.JobType  2}} Part Time {{end}}
    {{if eq .job.JobType  3}} Freelance{{end}}
  </h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Job Description:</p></h4></div>
  <div class="span8"><p>{{.job.Description}}</p></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Company Website:</p></h4></div>
  <div class="span8"><h4>{{.job.CompanyWebsite}}</h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Additional Instructions:</p></h4></div>
  <div class="span8"><p>{{.job.AdditionalInstructions}}</p></div>
</div>
{{ if .job.ApplyURL}}
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Apply Online:</p></h4></div>
  <div class="span8"><h4><a href="{{.job.ApplyURL}}" target="_blank">{{.job.CompanyName}} Website</a> </h4></div>
</div>
{{end}}
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Apply by Email:</p></h4></div>
  <div class="span8"><h4><a href="mailto:{{.job.ApplyEmail}}?subject=Application for {{.job.Title}}&body=Please attach a resume and replace this text.">Send Email</a></h4></div>
</div>
<div class="row-fluid">
  <div class="span4"><h4><p class="text-right">Posted On:</p></h4></div>
  <div class="span8"><h4>{{.job.Created}}</h4></div>
</div>
<hr/>
{{template "footer.html" .}}
