{{set . "title" "Find Jobs"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/gojobs">#golang Jobs</a></li>
          <li ><a href="http://blog.gopheracademy.com">Blog</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Put Go to Work</h1>
        <p class="lead">Find your dream job writing #golang.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
{{if .Joblist}}
<table class="table table-striped">
 
    {{range .Joblist}}
    <tr>
      <td><a href="/gojobs/show/{{.Id}}"><h4>{{.Title}}</h4></a> <br/> at {{.CompanyName}}</td>
      <td><p class="text-right">Location: {{.Location}}</p><br/></td>
    </tr>
    {{end}}
 </table>


{{else}}
<p>
  No results found.
</p>
{{end}}

      </div>
<img src="/public/images/golangprojects_com_box.png" />
      <hr>

   



{{template "footer.html" .}}

