{{set . "title" "Jobs"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/gojobs">#golang Jobs</a></li>
          <li ><a href="http://blog.gopheracademy.com">Blog</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Put Go to Work</h1>
        <p class="lead">Find your dream job writing #golang.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4><a href="/gojobs/find">Find a Job</a></h4>
          <p>Coming soon! View GolangProjects listings of #golang jobs!</p>

          <h4><a href="http://www.golangprojects.com/submit.html" target="_blank">Post a Job</a></h4>
          <p>Simplify your recruiting for top-notch #golang developers by posting on the best Go-dedicated job site.</p>

        </div>

        <div class="span6">
          <h4>Powered by GolangProjects.com</h4>
          <p>Gopher Academy's Job Listings are powered by <a href="http://www.golangprojects.com">GolangProjects.com</a> - a highly curated index of Go jobs.</p>

          <h4>Worldwide Reach</h4>
          <p>Post or find #golang jobs around the world.</p>

        </div>
      </div>

      <hr>





{{template "footer.html" .}}
