{{set . "title" "Jobs"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li><a href="/jobs">#golang Jobs</a></li>
          <li class="active"><a href="/blog">Blog</a></li>
        </ul>


        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Gopher Academy Blog</h1>
        <p class="lead">Learn from us.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Recent Blog Entries</h4>
          <p>Stay tuned for Gopher Academy blog posts!</p>
        </div>

      </div>

      <hr>

   



{{template "footer.html" .}}

