{{set . "title" "Home"}}
{{template "header.html" .}}


    <div class="container-narrow">

      <div class="masthead">
   <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li ><a href="/jobs">#golang Jobs</a></li>
        </ul>

        <h3 class="muted">Gopher Academy</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>#golang - Dedicated to the Go community.</h1>
        <p class="lead">Gopher Academy is a community driven organization dedicated to the education of Go developers and the promotion of the Go programming language.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Conferences</h4>
          <p>Gopher Academy is the company behind GopherCon, our premier event.  Coming in April, 2014!</p>

          <h4>Education</h4>
          <p>We will promote education through online and offline learning.</p>

        </div>

        <div class="span6">
          <h4>Community Driven</h4>
          <p>Gopher Academy is a private company, not affiliated with Google, specifically created for the promotion of Go and the support of the Go community.</p>

          <h4>Passionate</h4>
          <p>We are a community that is passionate about Go.</p>

        </div>
      </div>

      <hr>

   



{{template "footer.html" .}}

